<header class="main-header">
    <nav class="main-nav">
        <div class="navbar-left">
            <h2 class="logoLog"><a href="/">MyTrip</a></h2>
            <p class="nameUs"> Bienvenido, <%= user.nombre %> </p>
        </div>
        <div class="navbar-center">
            <form action="/search" class="search" method="get">
                <i class="fa-solid fa-magnifying-glass lupaSearch"></i>
                <input type="search" class="search-input" placeholder="Buscar..." name="buscado">
                <input type="checkbox" name="order" id="orderAscBox">
                <label for="orderAscBox" id="orderAscBoxLabel">Orden Ascendiente</label>
            </form>
        </div>
        <div class="navbar-right">
            <ul class="menu">
                
                <li><a href="/search/usuarios">Buscador Usuarios</a></li>
                <li><a href="/"><i class="fa-solid fa-house "></i></a></li>
                <li><a href="/posteo/crear"><i class="fa-regular fa-square-plus"></i></a></li>
                <li><a href="/usuario/miperfil"><i class="fa-regular fa-user"></i></a></li>
                <li><a href="/usuario/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a></li>
            </ul>
        </div>
    </nav>
</header>