<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %> 

<body>
    <% if (locals.user != undefined) { %>
        <%- include('./partials/headerLog') %> 
   %> <% } else { %>
    <%- include('./partials/header') %> 
    <% } %>
    <main>
        <section class="centerMain-content">
            <h1>Nuevo Post</h1>
            <form action="/posteo/crear" method="post" class="loginForm">
                <label  class = "campo" for="text">Titulo</label>
                <input class = "campo" type="text" name="titulo" id="nombre" placeholder="Ej: Gatos">
        
                <label  class = "campo" for="text">Descripcion</label>
                <input class = "campo" type="text" name="descripcion" id="descripcion" placeholder="Descripcion">

                <label  class = "campo" for="text">URL de la imagen</label>
                <input class = "campo" type="text" name="imagen_url" id="imagenUrl" placeholder="URL">
        
                <button  class = "campo" type="submit" class="loginButton">Crear Posteo</button>
        
            </form>
        </section>
    </main>

    <%- include('./partials/footer') %> 


</body>

</html>